/* @font-face {
    font-family: Montserrat-Regular;
    src: url(/css/fonts/Montserrat/Montserrat-Regular.ttf);
} */
@font-face {
    font-family: Montserrat-Regular;
    src: url("css/fonts/Montserrat/Montserrat-Regular.ttf");
}