/* .main-layout {
    height: 100vh;
    display: grid;
    grid-template-columns:
        minmax(20px, 1fr) minmax(auto, 1060px) minmax(20px, 1fr);
    grid-template-rows: 80px 1fr 80px;
    gap: 10px;
} */

