* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #f3f8f1;
    color: rgb(41, 34, 34);
    font-family: Montserrat-Regular;
}

footer {
    margin-block-start: 15px;
}

/* ABOUT */

.about-modal {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 40%;
    background-color: rgba(194, 161, 201, 0.863);
    translate: 0 -500%;
    transition: 0.5s;
    align-items: center;
    /* justify-content: space-between; */
    padding-top: 10px;
    z-index: 1;
    position: absolute;
    margin-left: 30%;
    margin-block-start: 15%;
}

.about-modal header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-modal p {
    padding: 15px;
    font-size: 25px;
}

h1 {
    font-size: 30px;
}

.show-modal {
    translate: 0;
}

.about-btn-modal {
    width: 100px;
    height: 3.125rem;
    margin: 10px;
    border-radius: 2em;
    border: #bbfdf9 2px solid;
    background-color: #d0e7f2;
}

/* HEADER */
.logo {
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    font-family: Montserrat-Regular;
}

/* MAIN GALLERY */
.search-section {
    margin: 10px;
}

/* MAIN EDITOR */
.font-size,
.alignments,
.color-font-txt,
.switch-line {
    width: 70%;
    display: flex;
    justify-content: space-between;
}


.main-editor-page,
.main-saved-page {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.color-font-txt {
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.color-picker {
    margin-bottom: 5px;
}

.font-change {
    padding: 5px;
    border-radius: 2em;
    margin: 10px;
    width: 100px;
    cursor: pointer;
}

.text-box-container {
    height: 30px;
}

.search-box,
.text-box {
    border-radius: 2em;
    padding: 5px;
    margin: 15px;
}

.editor-tools,
.canvas-container {
    height: 90%;

}

.main-canvas {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 2em;
}

.editor-tools {
    flex-direction: column;
    gap: 20px;
    border-radius: 2em;
    justify-items: center;
    align-items: center;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.font-family {
    display: inline-block;
}

.text-tools {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    justify-content: space-around;
    align-items: center;

  
}
.text-tools button{
        box-shadow: none;
}
/* BUTTONS */
button {
    background-color: #f8f8f8;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    font-family: Montserrat-Regular;
}

button:hover {
    cursor: pointer;
    background-color: #eae9e9;
    transition: 0.2s;
}

.flexible-btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
}



/*Icons*/
.text-tools>* button {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 3vh;
    height: 3vh;
    background-color: rgba(173, 216, 230, 0);
    border: none;
}

.download-btn-input,
.upload-image-input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
}

.download-btn,
.upload-image-btn {
    position: relative;
    width: 9.375em;
    height: 34em;
    margin: 10px;
}

.delete-line-btn {
    background-image: url(../icons/dustbin.png);
}

.alignment-left-btn {
    background-image: url(../icons/align-left.png);
}

.alignment-center-btn {
    background-image: url(../icons/icons8-align-center-50.png);
}

.alignment-right-btn {
    background-image: url(../icons/align-right.png);
}

.move-up-btn {
    background-image: url(../icons/icons8-move-up-50.png);
}

.move-down-btn {
    background-image: url(../icons/icons8-move-down-50.png);
}

.increase-text-btn {
    background-image: url(../icons/increase-font.png);
}

.decrease-text-btn {
    background-image: url(../icons/decrease-font.png);
}

.add-line-btn {
    background-image: url(../icons/plus.svg);
   
    box-shadow: none;
}

.switch-line-btn {
    background-image: url(../icons/replace.png);
}

.color-picker-container {
    display: inline-block;
    background-image: url(../icons/color-picker.png);
}

.color-picker-container>* {
    opacity: 0;
    cursor: pointer;
}

.sharing-options button {
    width: 100%;
    height: 3.125rem;
    margin: 10px;
    border-radius: 2em;
    padding: 7px;
    font-size: 1em;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

}